@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Changa:wght@200..800&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Radio+Canada:ital,wght@0,300..700;1,300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Gugi&family=Magra:wght@400;700&family=Manuale:ital,wght@0,300..800;1,300..800&family=Metamorphous&family=Nova+Round&family=Prosto+One&family=Redressed&family=Stick+No+Bills:wght@200..800&family=Train+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities; 


/* ============== LOGO SPINNING TEXT ============= */

.spinning-text {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  animation: spin 40s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


/*================MOTION TEXT================*/

@keyframes slideLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes rotateIcon {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.rotating-icon {
  animation: rotateIcon 3s linear infinite;
}


.motion-text {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    animation: slideLeft 20s linear infinite;
}


/* ============= DECORATIVE CIRCLES ============= */

.hero:before {
  content: '';
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 65rem; /* Adjust as needed */
  height: 65rem; /* Adjust as needed */
  background: transparent;
  border-radius: 50%;
  border: 160px solid salmon;
  z-index: 0;
}

/* Ensure the .hero element or any other parent doesn't cause overflow */
.overflow-x-hidden {
  overflow-x: hidden;
}



@layer base {
    html, body {
        @apply w-full h-full box-border  m-0 p-0 bg-neutral-300;
    }

    h1 {
        @apply  font-semibold tracking-tighter
    }
}

@layer utilities {

}





/*
pink: rgb(252, 194, 204)
tiffany blue: rgb(192, 250, 248)
green: rgb(220, 252, 229)
yellow: rgb(252, 240, 220)
*/

